{% extends "Registration/wrapper.html" %}

{% block manager %}

    <main role="main">
        <div class="jumbotron" style="background: plum">
            <h1 style="size: auto">manager</h1>
        </div>
        <div class="jumbotron" style="background: gray">
            <a href="{% url 'manager_request' %}" class="btn btn-outline-warning" role="button"
               aria-pressed="true">Заказы</a>

            <a href="{% url 'manager_product' product_id=1 %}" class="btn btn-warning text-center"
            >Продукты</a>

            <a href="{% url 'manager_product' product_id=1 %}" class="btn btn-warning text-center"
            >сформировать отчет</a>

        </div>
    </main>

{% endblock %}