{% extends "Market/Manager_Wrapper.html" %}

{% block manager %}
    <main role="main">
        <div class="jumbotron" style="background: gray">
            <h1 style="size: auto">Менеждер:</h1>
            <a href="{% url 'manager_request' %}" class="btn btn-warning text-center" role="button"
               aria-pressed="true">Заказы</a>

            <a href="{% url 'manager_product' %}" class="btn btn-warning text-center"
            >Продукты</a>

            <a href="{% url 'manager_product' %}" class="btn btn-warning text-center"
            >сформировать отчет</a>

        </div>
    </main>
{% endblock %}

